:root {
    /* ===== Colors ===== */
    --primary-color: #0A6ADA;
    --secondary-color: #DF142D;
    --body-color: #FFFFFF;
    --sidebar-color: linear-gradient(141.08deg, #0A69DA 32.24%, #0856C8 115.93%, #0231A5 164.9%);
    --sidebar-text-color: #FFFFFF;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    accent-color: var(--primary-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.top_image {
    height: 431px;
}

.top_image img {
    object-position: top;
}

.home .content {
    margin-top: 6%;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 34px;
    left: 40px;
    height: calc(100% - 68px);
    border-radius: 12px;
    width: 220px;
    padding: 16px 24px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1035;
}

.sidebar.close {
    width: 80px;
    padding: 16px 16px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 38px;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.sidebar li:not(.active) {
    opacity: 0.3;
    transition: 0.3s;
}

.sidebar .bottom-sibar-img {
    z-index: -1;
}

.sidebar .icon {
    /* min-width: 60px; */
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--sidebar-text-color);
    transition: var(--tran-03);
}

.sidebar .nav-link {
    border-radius: 30px;
}

.sidebar .nav-link.active {
    background-color: #0076FF;
}

.sidebar .text {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 1;
    display: block;
}

.sidebar.close .text {
    display: none;
    opacity: 0;
    transition: var(--tran-03);
}

.sidebar.close .brand {
    display: none;
}

.sidebar.close .help_center {
    background-color: transparent;
}

.sidebar.close .side_header {
    justify-content: center !important;
}

.hamburger .line {
    width: 18px;
    border-radius: 3px;
    height: 2.63px;
    margin-top: 2.63px;
    background-color: #BCD7F8;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.hamburger .line:nth-child(1),
.hamburger .line:nth-child(2) {
    width: 13px;
}

.hamburger .line:nth-child(3) {
    width: 18px;
}

.hamburger.is-active .line:nth-child(1) {
    transform: translateX(5px);
}

.hamburger.is-active .line:nth-child(2) {
    transform: translateX(5px);
}


.sidebar .menu {
    top: 10%;
    position: relative;
}

.sidebar .bc-icon {
    background: linear-gradient(214.51deg, #D10015 13.77%, #FF4369 83.58%);

}


.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0 20px;
    border-radius: 11px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar.close li a {
    margin: auto;
    transition: var(--tran-03);
    justify-content: center;
}

.sidebar li:has(> a:hover) {
    opacity: 1;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 20px);
    z-index: 3;
    background: var(--primary-color);
    color: var(--sidebar-text-color);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}


.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar .menu-bar {
    height: calc(100% - 34px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.overlay_home {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #000 !important;
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5 !important;
    -khtml-opacity: 0.5 !important;
    opacity: 0.5 !important;
    z-index: 1034 !important;
    /*changed 17/02/2023*/
    pointer-events: none !important;
}


.sidebar .bottom-content {
    width: 100%;
    transition: width 0.4s ease;
}

.sidebar.close .bottom-content {
    width: 133%;
    transition: width 0.2s ease;
}

.sidebar.close .bottom-content p {
    opacity: 0;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 260px;
    padding-left: 40px;
    height: 100vh;
    width: calc(100% - 260px);
    transition: var(--tran-05);
    /* overflow: hidden; */
}

.main {
    padding-bottom: 35px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}


.sidebar.close~.home {
    left: 120px;
    height: 100vh;
    width: calc(100% - 120px);
}






.navbar {
    height: 100px;
}

.navbar_container {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.navbar_container .title_header {
    padding: 13px 12px;
}

.navbar_container .title_header .main_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    white-space: nowrap;
    /* 22/02/2023*/
}

.navbar_container .search_box {
    width: 360px;
    height: 42px;
    background: var(--primary-color-light);
    border-radius: 34px;
}

.navbar_container .search_box .form-control,
.navbar_container .search_box .form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar_container .Notify_content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: grid;
    justify-self: center;
    align-self: center !important;
}

.navbar_container .Notify_content .toggle-switch {
    cursor: pointer;
}

.navbar_container .user_details {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_container .author_name {
    font-weight: 600;
    font-size: 16px;
}

.navbar_container .author_email {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.navbar_container .user_image {
    width: 50px;
}

.navbar_container .main_title a:hover .mdi-keyboard-backspace {
    color: var(--main-primary);
    transition: 0.3s;
}

.app-sidebar__toggle {
    z-index: 1;
    transition: padding-left 0.3s ease;
    padding: 9px;
    text-align: center;
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    background: var(--primary-color);
    color: var(--primary-color-light) !important;
    border-radius: 50%;
    box-shadow: 0px 2px 3px rgb(4 4 7 / 10%);
}

.responsive-navbar.navbar {
    display: initial;
    flex-basis: inherit;
    flex-wrap: inherit;
}

.nav-link.icon {
    margin: 5px;
    padding: 12px;
    text-align: center;
    height: 2.5rem;
    font-size: 1.2rem;
    position: relative;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: transparent;
}

.responsive-navbar .dropdown-menu {
    box-shadow: 0 10px 40px 0 rgb(104 113 123 / 30%);
    border: 1px solid #eaedf1;
}

.navbar_container .breadcrumb {
    margin-bottom: 0;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform 0.5s;
    background-color: var(--body-color);
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
    height: 60px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.fixed-top .navbar_container {
    height: -webkit-fill-available;
}

/* Navbar fixed top END  */

.sidebar.close~.home .fixed-top {
    left: 88px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-radius: 8px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    background: 0 0;
    border: none;
    min-width: 80px;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.wrapper_section {
    height: 100%;
    border-radius: 12px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background: #FFFFFF;

}

.text-card {
    background-color: #EEF0F4;
    border: 1px solid #EEF0F4;
    border-radius: 8px;
}

.button-booking {
    border-radius: 8px;
    background: #DF142D;
    border: none;
    outline: none;
    white-space: nowrap;
}

.boffer_card {
    border: 1px solid #ECEDF5;
    background: rgb(236, 237, 245, 0.5);
    height: 66px;
}

.slidercard {
    position: relative;
    border-radius: 8px;
    /* width: 349px; */
    height: 240px;
    overflow: hidden;
    background: linear-gradient(151.79deg, rgb(16 57 37 / 49%) 14.26%, rgb(44 44 44 / 15%) 30.78%);
    box-shadow: 0px 21px 47px 0px #2029320A;

}

.slidercard .sliderimg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper-bittom {
    height: 205px;
    border-radius: 12px;
    background: linear-gradient(267.11deg, #FF7B71 9.04%, #FF4A3C 93.1%);
    border-radius: 8px;
    position: relative;

}

.wrapper-bittom img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}




/* Loader  */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    overflow: hidden;
    z-index: 9999;

}

::-webkit-scrollbar {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

@keyframes bxSpin {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}



/* For Max Width View 992px */
@media screen and (max-width: 991px) {
    .sidebar {
        left: -270px;
    }

    .sidebar.close {
        left: -270px;
    }

    .home {
        left: 0 !important;
        width: 100% !important;
    }

    /* 13/02/2023 commented*/
    /* .sidenav-toggled .home {  
        left: 160px !important;
    } */

    .responsive-navbar .nav-link.icon {
        padding: 10px !important;
        /* margin: 0px; */
        border-radius: 50px;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
        display: flex;
    }

    .responsive-navbar .collapse.show .dropdown-menu.show {
        left: 5% !important;
        right: 5% !important;
    }

    .header-right-icons .nav-link.icon {
        border: 1px solid #eaedf1;
    }

    .responsive-navbar .dropdown {
        position: initial;
    }

    .navresponsive-toggler {
        padding: 2px;
    }

    .navresponsive-toggler span {
        margin-top: 2px;
        padding: 9px;
        text-align: center;
        height: 2.5rem;
        font-size: 1.2rem;
        position: relative;
        background: var(--sidebar-color);
        color: var(--text-color2) !important;
        border-radius: 50%;
        box-shadow: 0px 2px 3px rgb(4 4 7 / 10%);
        width: 2.5rem;
    }

    .responsive-navbar .navbar-collapse {
        padding: 5px;
        position: fixed;
        width: 100%;
        background: var(--collapse-icon);
        margin-top: 72px;
        z-index: 50;
        box-shadow: 0 12px 11px -3px rgb(104 113 123 / 10%);
        left: 0;
        right: 0;
        top: 0;
    }


    .sidenav-toggled .sidebar {
        left: 0;
    }


    .fixed-top {
        left: 0 !important;
    }


    .fixed-top .navbar_container {
        height: -webkit-fill-available;
    }

    /* Navbar fixed top END  */
}


/* Media Query CSS  */
@media screen and (max-width: 1240px) {}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 500px) {}

/* =============Login Page CSS End=================  */